[submodule "doctest"]
	path = doctest
	url = https://github.com/onqtam/doctest
[submodule "bitops"]
	path = bitops
	url = https://github.com/lionkor/bitops
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
[submodule "bitsery"]
	path = bitsery
	url = https://github.com/fraillt/bitsery
